.imagenes-tamano {
    display: flex;
    justify-content: space-around;
}

.imagenes {
    display: flex;
    justify-content: space-around;
}

.audio {
    text-align: center;
}

#camara1:hover {
    transform: scale(2);
    transition: 5s;
}

#camara3:hover {
    animation: animacion 15s linear;
}

@keyframes animacion {
    25%{
        transform: rotate(45deg);
    }
    50%{
        opacity: 50%;
    }
    75%{
        border: red solid;
    }
    100%{
        transform: translate(0, 100px);
    }
}